
@{
    ViewBag.Title = "Index";

}
@model BulkEmailMarketing.Models.Campaign_List


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Email</title>
<link rel="stylesheet" href="~/Content/Style.css">
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="~/Scripts/fontawesome-free-5.15.1-web/css/all.css">
@*<link rel="stylesheet" href="css/Hover-master/css/hover-min.css">*@

<body>
    <div class="site_container">
        <div class="container">

            <div class="btn_Wrp">
                <div class="child_Wrp">
                    <button onclick="FormSubmit()">
                        Add camp..
                    </button>
                </div>
                <div class="Btn_Grid">
                    <span class="R0 R_cmn">
                        <input type="checkbox" name="checkbox" id="checkbox"
                               title="Select All" style="cursor: pointer;">
                        <span class="tool_tip">Select All</span>
                    </span>
                    <span class="R1 R_cmn">
                        <button onclick="openProduct('CWrapper')">Email</button>
                    </span>
                    <span class="R2 R_cmn">
                        <button onclick="openProduct('product2')">Bulk Email</button>
                    </span>
                    <span class="R3 R_cmn">
                        <button type="button">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </span>
                </div>
            </div>

            <div class="Campaign_wrp product" style="display: block;" id="CWrapper">
                <ul>
                    @foreach (var element in Model.list)
                    {
                        <li class="L1">
                            <form action="@Url.Action("SendEmail" ,"Email")" method="post">
                                <span class="checkbox01">
                                    <input type="checkbox" name="checkbox" id="@element.campaighId">
                                </span>
                                <fieldset>
                                    <legend>@element.campaignName</legend>
                                    <div class="d1 frm_dCmn">
                                        <label for="#">To</label>
                                        <input type="text" name="Toname" placeholder="To.." required>
                                    </div>
                                    <div class="d2 frm_dCmn">
                                        <label for="#">From</label>
                                        <input type="text" value="@element.from" name="ToFrom" readonly placeholder="from.." required>
                                    </div>
                                    <div class="d3 frm_dCmn">
                                        <label for="#">subject</label>
                                        <input type="text" name="subject" placeholder="Subject" value="@element.subject" required>
                                    </div>
                                    <div class="d4 frm_dCmn">
                                        <label for="#">body</label>
                                        <textarea name="textarea" cols="30" rows="10">@element.emailBody</textarea>
                                    </div>
                                    <div class="d5 submit">
                                        <!-- <a href="#" class="hvr-shutter-out-horizontal"> -->
                                        <input type="submit" value="Send">
                                        <!-- </a>   -->
                                        <span class="Attach">
                                            <img src="~/img/attach_file_black_20dp.png" alt="attach">
                                            <input type="file" hidden>
                                        </span>
                                    </div>
                                </fieldset>
                            </form>
                        </li>

                    }
                </ul>
            </div>
            <div class="Campaign2 product" style="display: none;" id="product2">
                @foreach (var element in Model.list)
                {
                    <div class="Campaign_wrp">
                        <span class="Camp_chain" id="Camp_chain">
                            +
                        </span>
                        <ul>
                            <li class="L2">
                                <form action="#">
                                    <fieldset>
                                        <legend>@element.campaignName</legend>
                                        <div class="d2 frm_dCmn">
                                            <label for="#">From</label>
                                            <input type="text" id="ToFrom" name="ToFrom" value="@element.from" disabled placeholder="from.." required>
                                        </div>
                                        <div class="d3 frm_dCmn">
                                            <label for="#">Excel Document</label>
                                            <input type="file" class="file-upload" name="exceldoc" value="@element.subject" data-name="" required>

                                        </div>
                                        <div class="d5 submit">
                                            <input type="button" class="btnfile" value="Upload">
                                        </div>
                                        <div class="Table_wrp">
                                            @*table*@
                                        </div>
                                        <div class="d5 submit">
                                            <!-- <a href="#" class="hvr-shutter-out-horizontal"> -->
                                            <input type="submit" value="Send">
                                            <!-- </a>   -->
                                            <span class="Attach">
                                                <img src="~/img/attach_file_black_20dp.png" alt="attach">
                                                <input type="file" hidden>
                                            </span>
                                        </div>
                                    </fieldset>
                                </form>
                            </li>
                        </ul>
                    </div>

                }

            </div>
        </div>
        <div class="FormPop Form_cmn">
            <div class="Frm_wrp">
                <form action="@Url.Action("Create" ,"Campaign")" method="post">
                    <!-- <div class="d1 d_cmn">
                        <label >To:</label>
                        <input type="text" name="Toinput" id="ToInpt" placeholder="To..">
                    </div> -->
                    <div class="d1 d_cmn">
                        <label>From:</label>
                        <input type="text" value="markushno357@gmail.com" name="Frominput" readonly id="ToInpt" placeholder="From..">
                    </div>
                    <div class="d2 d_cmn">
                        <label>Subject:</label>
                        <input type="text" name="Subject" id="Subject2" placeholder="Subject..">
                    </div>
                    <div class="d3 d_cmn">
                        <div class="Cwrp01 Cwrp0">
                            <label> Campaign Name:</label>
                            <input type="text" name="CampaignName" id="CampaignName" placeholder="Campaign Name..">
                        </div>
                        <div class="Cwrp02 Cwrp0">
                            <label> Upload File</label>
                            <input type="file" name="File3" id="File3">
                            <span>
                                <img id="camp_logo" src="#" alt="image">

                            </span>
                        </div>
                    </div>
                    <div class="d4 d_cmn">
                        <label> Email body:</label>
                        <textarea name="textarea1" id="textarea1" cols="30" rows="10"></textarea>
                    </div>
                    <div class="Create_camp">
                        <button type="submit" title="button" @*onsubmit="FormSubmit2()"*@> create Campaign</button>
                        <input type="hidden" value="" name="campaignLogo" id="hiddenLogo" />
                    </div>
                    <span id="close01" role="button" onclick="fnclose(event);" class="close" data-target="FormPop" title="Close Modal">X</span>
                </form>
            </div>
        </div>
        @if (ViewBag.status == "success")
        {
            <div class="FormPop2 Form_cmn" style="display:block;">
                <div class="Frm_wrp2">
                    <div class="thanks">
                        <strong>
                            <svg class="checkmark_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>
                        </strong>
                        <h3>Campaign created</h3>
                        <span id="close02" role="button" onclick="fnclose(event);" class="close" data-link="#" data-target="FormPop2" title="Ok Modal">Ok</span>
                    </div>
                </div>
            </div>
        }
    </div>

    @if (ViewBag.status == "success")
    {
        <script>
            window.onload(function () {
                FormSubmit2();
            });
        </script>
    }

    <!-- curor movement -->
    <!-- end here -->
    <!-- script section -->
    <script src="~/Scripts/Index.js"></script>
    <script src="~/Scripts/main.js"></script>

</body>
