
@{
    ViewBag.Title = "Index";

}
@model BulkEmailMarketing.Models.Campaign_List


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <link rel="stylesheet" href="~/Content/Style.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
 
    @*<link rel="stylesheet" href="css/Hover-master/css/hover-min.css">*@

<body>
    <div class="site_container">
        <div class="container">

            <div class="btn_Wrp">
                <div class="child_Wrp">
                    <button onclick="FormSubmit()">
                        Add Camppaign
                    </button>
                </div>
                <div class="child_Wrp">
                    <button onclick="location.href='@Url.Action("GetCampaignStatus" ,"Campaign")'">
                        My Campaigns
                    </button>
                </div>
                <div class="Btn_Grid">
                    @*<span class="R0 R_cmn">
                <input type="checkbox" name="checkbox" id="checkbox"
                       title="Select All" style="cursor: pointer;">
                <span class="tool_tip">Select All</span>
            </span>*@
                    <span class="R1 R_cmn">
                        <button onclick="openProduct('CWrapper')">Email</button>
                    </span>
                    <span class="R2 R_cmn">
                        <button onclick="openProduct('product2')">Bulk Email</button>
                    </span>
                    <span class="R3 R_cmn">
                        <button onclick="location.href='@Url.Action("LogOff" ,"Account")'">Log Out</button>
                    </span>
                </div>
            </div>

            <div class="Campaign_wrp product" style="display: block;" id="CWrapper">
                <ul>
                    @foreach (var element in Model.list )
                    {
                        <li class="L1">
                            <form action="" id="form-@element.campaighId" method="post" data-target="body-@element.campaighId" data-store="#store-@element.campaighId" onsubmit="formSubmit(event)">
                                @*<span class="checkbox01">
                                    <input type="checkbox" name="checkbox" id="@element.campaighId">
                                </span>*@
                                <fieldset>
                                    <legend>@element.campaignName</legend>
                                    <div class="d1 frm_dCmn">
                                        <label for="#">Name ( Email )</label>
                                        <input type="text" name="Name" value="@element.fromName" placeholder="Name displayed in email.." >
                                    </div>
                                    <div class="d1 frm_dCmn">
                                        <label for="#">To</label>
                                        <input type="text" name="to" placeholder="To.." required>
                                    </div>
                                    <div class="d2 frm_dCmn">
                                        <label for="#">From</label>
                                        <input type="text" value="@ViewBag.username" name="from" readonly placeholder="from.." required>
                                    </div>
                                    <div class="d3 frm_dCmn">
                                        <label for="#">subject</label>
                                        <input type="text" name="subject" placeholder="Subject" value="@element.subject" required>
                                    </div>
                                    <div class="d3 frm_dCmn">
                                        <label for="#">Upload Image</label>
                                        <input type="file" class="editor-upload" placeholder="upload an image" data-target="#editorUpload-@element.campaighId" />
                                        <input type="text" placeholder="Image Url" id="editorUpload-@element.campaighId" />
                                    </div>
                                    <div class="d4 frm_dCmn">
                                        <label for="#">body</label>
                                        <textarea class="body" id="body-@element.campaighId" cols="30" rows="10">@element.emailBody</textarea>
                                        <input type="hidden" value="" name="body" id="store-@element.campaighId" />
                                    </div>
                                    <div class="d5 submit">
                                        <!-- <a href="#" class="hvr-shutter-out-horizontal"> -->
                                        <input type="submit" value="Send" style="margin-right:1rem;">
                                        <!-- </a>   -->
                                        <input type="button" class="cust-delete" value="Delete" onclick="location.href='@Url.Action("Delete" ,"Campaign")?id=@element.campaighId'">
                                        @*<span class="Attach">
                <img src="~/img/attach_file_black_20dp.png" alt="attach">
                <input type="file" hidden>
            </span>*@
                                        <input type="button" class="cust-delete" value="Save Templet" data-target="body-@element.campaighId" id="@element.campaighId" onclick="saveTemplate(event)">

                                    </div>
                                </fieldset>
                            </form>
                        </li>

                    }
                </ul>
            </div>
            <div class="Campaign2 product" style="display: none;" id="product2">
                @foreach (var element in Model.list)
                {
                    <div class="Campaign_wrp">
                        <span class="Camp_chain" onclick="expand(event)">
                            @*@element.campaighId*@  @element.campaignName
                        </span>
                        <ul  class="L2">
                            <li>
                                <form action="" method="post" onsubmit="bulkEmailSubmit(event)" id="bulkForm-@element.campaighId"  data-target="bulkbody-@element.campaighId" data-source="#hiddenexcel-@element.campaighId">
                                    <fieldset>
                                        <legend>@element.campaignName</legend>
                                        <div class="d1 frm_dCmn">
                                            <label for="#">Name ( Email )</label>
                                            <input type="text" name="Name" value="@element.fromName" id="fromName-@element.campaighId" placeholder="Name displayed in email.." >
                                        </div>
                                        <div class="d2 frm_dCmn">
                                            <label for="#">From</label>
                                            <input type="text" value="@ViewBag.username" disabled placeholder="from.." >
                                        </div>
                                        <div class="d2 frm_dCmn">
                                            <label for="#">Delay(Milliseconds)</label>
                                            <input type="text" value="" name="delay" id="delay-@element.campaighId" placeholder="Delay between mails.." >
                                        </div>
                                        <div class="d3 frm_dCmn">
                                            <label for="#">Upload Image</label>
                                            <input type="file" class="editor-upload" placeholder="upload an image" data-target="#bulkeditorUpload-@element.campaighId" />
                                            <input type="text" placeholder="Image Url" id="bulkeditorUpload-@element.campaighId" />
                                        </div>
                                        <div class="d2 frm_dCmn">
                                            <label for="#">body</label>
                                            <textarea class="body" id="bulkbody-@element.campaighId" cols="30" rows="10">@element.emailBody</textarea>
                                        </div>

                                        <div class="d3 frm_dCmn">
                                            <label for="#">Excel Document</label>
                                            <input type="file" class="file-upload" name="exceldoc" value="@element.subject" data-target="#Table-@element.campaighId" data-store="#hiddenexcel-@element.campaighId" >
                                            <input type="hidden" name="excelData" id="hiddenexcel-@element.campaighId" value="" />
                                        </div>
                                        <div class="Table_wrp" id="Table-@element.campaighId">


                                        </div>
                                        @*<div class="d5 submit">
        <input type="button" class="btnfile" value="Upload">
        </div>*@
                                        <div class="Table_wrp">
                                            @*table*@
                                        </div>
                                        <div class="d5 submit">
                                            <!-- <a href="#" class="hvr-shutter-out-horizontal"> -->
                                            <input type="submit" value="Send" data-content="">
                                            <!-- </a>   -->
                                            @*<span class="Attach">
            <img src="~/img/attach_file_black_20dp.png" alt="attach">
            <input type="file" hidden>
        </span>*@
                                            <input type="button" value="Save Template" onclick="saveTemplate(event)" data-content="">

                                            <input type="button" value="Delete" onclick="location.href='@Url.Action("Delete" ,"Campaign")?id=@element.campaighId'">

                                        </div>
                                    </fieldset>
                                </form>
                            </li>
                        </ul>
                    </div>

                }

            </div>
        </div>
        <div class="FormPop Form_cmn">
            <div class="Frm_wrp">
                <form action="@Url.Action("Create" ,"Campaign")" method="post">
                     <div class="d1 d_cmn">
                         <label>Name ( Email ):</label>
                        <input type="text"name="Name" placeholder="Name displayed in email..">
                     </div> 
                    
                    <div class="d1 d_cmn">
                        <label>From:</label>
                        <input type="text" value="@ViewBag.username" name="Frominput" readonly id="ToInpt" placeholder="From..">
                    </div>
                    <div class="d2 d_cmn">
                        <label>Subject:</label>
                        <input type="text" name="Subject" id="Subject2" placeholder="Subject..">
                    </div>
                    <div class="d2 d_cmn">
                        <div class="Cwrp01 Cwrp0">
                            <label> Campaign Name:</label>
                            <input type="text" name="CampaignName" id="CampaignName" placeholder="Campaign Name..">
                        </div>
                        @*<div class="Cwrp02 Cwrp0">
                <label> Upload File</label>
                <input type="file" name="File3" id="File3">
                <span>
                    <img id="camp_logo" src="#" alt="image">

                </span>
            </div>*@
                    </div>
                    <div class="d4 d_cmn">
                        <label> Email body:</label>
                        <textarea name="textarea1" id="textarea1" cols="30" rows="10"></textarea>
                    </div>
                    <div class="Create_camp">
                        <button type="submit" title="button" @*onsubmit="FormSubmit2()"*@> create Campaign</button>
                        <input type="hidden" value="" name="campaignLogo" id="hiddenLogo" />
                    </div>
                    <span id="close01" role="button" onclick="fnclose(event);" class="close" data-target="FormPop" title="Close Modal">X</span>
                </form>
            </div>
        </div>
          @if (ViewBag.status == "success")
          {
        <div class="FormPop2 Form_cmn" style="display:block;">
            <div class="Frm_wrp2">
                <div class="thanks">
                    <strong>
                        <svg class="checkmark_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                        </svg>
                    </strong>
                    <h3>Campaign created</h3>
                    <span id="close02" role="button" onclick="fnclose(event);" class="close" data-link="#" data-target="FormPop2" title="Ok Modal">Ok</span>
                </div>
            </div>
        </div>
          }
    </div>

<script type="text/javascript">

    $(document).ready(function () {
        $('.body').each(function (e) {
            CKEDITOR.replace(this.id);
          
        })

       
    });
    var saveTemplate = event => {
        var editor = event.target.dataset.target;
        var data = CKEDITOR.instances[editor].getData();
        var id = event.currentTarget.id;
        var postObj = {};
        postObj.emailBody = data;
        postObj.campaighId = id;
        $.ajax({
            url: "/Email/SaveTemplate",
            data: JSON.stringify(postObj),
            method: 'POST',
            contentType: "application/json",
            dataType: "json",
            async: true,
            success: data => {


            },
            error: error => {
                alert("error");
            }
        });

        location.href = "@Url.Action("Index" ,"Home")";
    }
    var bulkEmailSubmit = event => {
        debugger
        var editor = event.target.dataset.target;
        var source = event.target.dataset.source;
        var data = CKEDITOR.instances[editor].getData();
        var Obj = $(source).val();
        var jobj = JSON.parse(Obj);
        var delayid = '#delay-' + source.split('-')[1];
        var fromNameid = '#fromName-' + source.split('-')[1];
        var fromName = $(fromNameid);
        var delay = $(delayid).val();
        var o = {};
        o.list = jobj;
        o.delay = delay;
        o.BulkEmailBody = data;
        o.Name = fromName;
        o.campaignId = parseInt(source.split('-')[1]);
        postObj = JSON.stringify(o);
        $.ajax({
            url: "/Email/SendBulkEmail",
            data: postObj,
            contentType: "application/json",
          
            type: 'post',
        dataType:"json",
            async: true,
         beforeSend: function(x) {
            if (x && x.overrideMimeType) {
              x.overrideMimeType("application/j-son;charset=UTF-8");
            }
          },
        success: data => {  
  

        },
            error: error => {
                debugger
                var x = error;
                console.log(error);
            alert("error");
        }

         });

       
    }
    var formSubmit = event => {
   debugger
        var editor = event.target.dataset.target;
        var store = event.target.dataset.store;
        var data = CKEDITOR.instances[editor].getData();
        var formid = event.currentTarget.id;
        $(store).val(data); 
        var input;
        var jsonString="{\"";
        $("form#"+formid+" :input[type='text']").each(function(){
             input = $(this);
            if ( $(this).attr('name') != undefined) {
                            jsonString = jsonString + $(this).attr('name') + "\":\"" + $(this).val() + "\",\"";
            }
         
        });
        jsonString = jsonString.substring(0, jsonString.length - 2) + "}";
        var postObj = JSON.parse(jsonString);
        postObj.emailBody = data;
        postObj.campaignId = editor.split('-')[1];
        var res = new Promise(function (resolve, reject) {

            $.ajax({
                url: "/Email/SendEmail",
                data: JSON.stringify(postObj),
                method: 'POST',
                contentType: "application/json",
                dataType: "json",
                async: true,
                success: data => {

                    alert("success");

                    debugger

                },
                error: error => {
                    debugger
                    alert("error");
                }

            });

        });
        console.log(res);
         
    }

</script>

    <!-- curor movement -->
    <!-- end here -->
    <!-- script section -->
    <script src="~/Scripts/Index.js"></script>
    <script src="~/Scripts/main.js"></script>

</body>
